html {
  --white-dart: #0a192f;
  --white-dart-light: #e6f1ff47;
  --green: #006ac8;
  --green-light: rgba(0, 106, 200, 0.71);
  --dark-slate: #495670;
  --navy: #0a192f;
  --main-color: #ffffff;
  --secondary-color: #dadada;
  --white-pure: #fff;
  --h-header: 6rem;
  --h-footer: 2.5rem;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --navy-shadow: rgba(2,12,27,0.7);
  --font-size: 1rem;
}
html {
  box-sizing: border-box;
  width: 100%;
}

p {
  font-size: var(--font-size);
}

.blur {
  overflow: hidden;
}

.main-blur {
  filter: blur(2px) brightness(0.7);
  transition: var(--transition);
  pointer-events: none;
  user-select: none;
}

svg {
  min-height: 1.3rem !important;
  min-width: 1.3rem !important;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family:  "DM Sans", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-color) !important;
  color: var(--white-dart);
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border: 4px;
  border-radius: 10px;
}

