html {
  --white-dart: #e6f1ff;
  --white-dart-light: #e6f1ff47;
  --green: #007effe3;
  --dark-slate: #495670;
  --navy: #0a192f;
  --main-color: #002131;
  --secondary-color: #013954;
  --white-pure: #fff;
  --h-header: 6rem;
  --h-footer: 2.5rem;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --navy-shadow: rgba(2,12,27,0.7);
}
html {
  box-sizing: border-box;
  width: 100%;
}

.blur {
  overflow: hidden;
}

.main-blur {
  filter: blur(2px) brightness(0.7);
  transition: var(--transition);
  pointer-events: none;
  user-select: none;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family:  "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-color) !important;
  color: var(--white-dart);
}

@media (min-width: 30em) {
  html {
    font-size: 125%;
  }
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border: 4px;
  border-radius: 10px;
}

/*@media (min-width: 40em) {*/
/*  html {*/
/*    font-size: 150%;*/
/*  }*/
/*}*/

/*@media (min-width: 50em) {*/
/*  html {*/
/*    font-size: 175%;*/
/*  }*/
/*}*/

/*@media (min-width: 60em) {*/
/*  html {*/
/*    font-size: 200%;*/
/*  }*/
/*}*/
